<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
    <body>

        <section class="olaAmigo">
            <h1 class="mensagem">Ola {{ nome }}!</h1>
            <button id="btn"><p>clique aqui</p></button>
        </section>

        <section class="mamaou">
            <p>
                Se ler mamoooou!!! :D
            </p>
        </section>

    <script src="../static/js/script.js"></script>

    <audio id="musica">
        <source src="../static/audio/Gloria Gaynor - I Will Survive.mp3" type="audio/mp3">
    </audio>

    </body>
</html>